*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
}

.navbar-brand{
    padding-left: 1.5em;
}

.myprofile_container{
    height: auto;
    width: auto;
}

.img_profile{
    margin-left: 1em;
    width: 2em;
    height: 2em;
}

.profile_name{
    margin-right: 1em;
    font-size: 1em;
    color: white;
}

.myplans_container{
    height: 35vw;
    width: 100%; 
}

.text-plans{
    margin-top: 3em;
    margin-bottom: 2em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.card_box{
    margin-left: 7em;
}

.myplans_box{
    margin-top: 5vw;
    height: 35vw;
    border: 10px;
    border-style: solid;
    border-color:whitesmoke;
    background: radial-gradient(circle, rgba(2,62,125,1) 0%, rgba(0,24,69,1) 52%);
}