a{
    font-size: 1.5em;
    text-decoration: none;
}

.banner{
    width: 100%;
    height: 35em;
}

.banner__img{
    top: 0;
    left: 0;
    width: 1440px;
    height: 520px;
    left: 0px;
    top: 0px;
    background: url("/Web-site-main/src/Components/Banner/banner.png");
    position: absolute;
    background-size: cover;
    background-position-x: 50%;
    z-index: -1;
    animation: introload 2s forwards;
}

.banner__title{
    position: absolute;
    width: 547px;
    height: 218px;
    top: 170px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 96px;
    color: #FFFFFF;
    animation: movedown 1s ease-in-out forwards;
}

.banner__text{
    position: absolute;
    width: 736px;
    top: 398px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    color: #FFFFFF;
    animation: movedown 1s ease-in-out forwards;
}


.header{
    display: flex;
    justify-content: space-between;
}

.line__img{
    z-index: 100;
    margin-left: 20em;
    display: inline-block;
}

@media only screen and (min-width: 768px) {

    body{
        margin: 1.5em 5em;
    }

    .banner__title{
        margin-left: 1em;
    }

    .banner__text{
        font-size: 1.5rem;
        margin-left: 2.5em;
        margin-bottom: 0;
    }
}

@media only screen and (min-width: 1200px){

    .banner{
        width: 1200px;
        margin: 0 auto;
    }

    .project{
        gap: 0;
    }
}

@keyframes introload{
    from{
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    to{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

@keyframes movedown{
    from{
        transform: translateY(-30px);
    }
    to{
     transform: translateY(0);
     opacity: 1;
    }
}