a{
    font-size: 1.5em;
    text-decoration: none;
}

.banner{
    width: 100%;
    height: 50em;
}

.banner__img{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("/Web-site-main/src/Components/Banner/banner.jpg");
    position: absolute;
    background-size: cover;
    background-position-x: 50%;
    z-index: -1;
    animation: introload 2s forwards;
}

.banner__title{
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    margin: 1.5em;
    margin-top: 2em;
    margin-left: 2em;
    color: white;
    position: relative;
    animation: movedown 1s ease-in-out forwards;
}

.banner__text{
    font-family: 'Roboto Slab', serif;
    font-size: 1rem;
    color: white;
    margin-left: 2em;
    position: relative;
    animation: movedown 1s ease-in-out forwards;
}


.header{
    display: flex;
    justify-content: space-between;
}

.banner__arrow{
    margin: 1.5em;
    margin-top: 5em;
    position: absolute;
    width: 3.5em;

    path {
        fill: white;
    }
}

.line__img{
    z-index: 100;
    margin-left: 20em;
    display: inline-block;
}

@media only screen and (min-width: 768px) {

    body{
        margin: 1.5em 5em;
    }
}

@media only screen and (min-width: 1200px){
    .banner{
        width: 1200px;
        margin: 0 auto;
    }

    .project{
        gap: 0;
    }
}

@keyframes introload{
    from{
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    to{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

@keyframes movedown{
    from{
        transform: translateY(-30px);
    }
    to{
     transform: translateY(0);
     opacity: 1;
    }
}