#row-price{ 
    margin-top: 10em;
    margin-left: 10em;
    height: 15em;
    width: 35em;
}

.card{
    position: inherit;
    display: block;
}

.card__text{
    color: #003671;
    margin-left: 10em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
}


@media only screen and (min-width:1200px){

    .container-price{
        margin-top: 1em;
        margin-left: 7em;
    }

    #row-price{
        margin-top: 0;
        height: 25em;
        width: 50em;
    }

    .card-body{
        height: 20em;
    }
}