#row-price{ 
    margin-top: 10em;
    margin-left: 10em;
    height: 20em;
    width: 35em;
}

.card{
    position: inherit;
    display: block;
}


@media only screen and (min-width:1200px){

    .container-price{
        display: grid;
        place-items: center;
    }

    #row-price{
        background-color: brown;
        margin-top: 0;
        height: 25em;
        width: 50em;
    }

    .card-body{
        height: 20em;
    }
}