.nav{
    position: fixed;
    right: 0;
    top: 0;
    background-color: white;
    z-index: 2;
    width: 50%;
    height: 100vh;
    text-transform: uppercase;
    transition: transform .5s ease-in-out;
    display: none;

    .nav__list{
        list-style-type: none;
        padding: 0;
        margin-top: 1em;
        margin-bottom: 27em;

        .nav__link{
            width: 100%;
            color: rgb(0, 0, 0);
            font-size: 1em;
            display: block;
            padding: .75em 2em;

            &:hover{
                color: whitesmoke;
            }
        }
    }

    .menu__img{
        margin-top: .5em;
        width: 2.5em;
        position: fixed;
        margin-left: 10em;
    }
}

.nav__brand{
    margin-left: 1em;
}

.navActive{
    position: fixed;
    right: 0;
    top: 0;
    background-color: white;
    z-index: 2;
    width: 50%;
    height: 100vh;
    text-transform: uppercase;
    transition: transform 1s ease-in-out;
    
    .nav__list{
        list-style-type: none;
        padding: 0;
        margin-top: 1em;
        margin-bottom: 27em;

        .nav__link{
            width: 100%;
            color: rgb(0, 0, 0);
            font-size: 1em;
            display: block;
            padding: .75em 2em;

            &:hover{
                color: whitesmoke;
            }
        }
    }

}

#nav__menu{
    z-index: 5;
}

.menu{
    position: fixed;
    z-index: 1111;
}

.menu__icon::before{
    background-color: white;
    position: fixed;
    z-index: 1111;
}



@media only screen and (min-width: 920px){

    .banner__title{
        font-size: 4em;
        margin-left: 1em;
        margin-bottom: .5em;
    }

    .banner__text{
        margin-left: 3em;
        margin-top: 0;
        font-size: 1.5em;
        margin-bottom: 0;
    }

    #nav__menu{
        display: none;
    }

    .nav{
        position: unset;
        display: block;
        width: auto;
        height: auto;
        background: none;
    
        .nav__list{
            display: flex;
            margin: 0;

            .nav__link{
                color: white;
                
                &:hover{
                    color: rgb(185, 185, 185);
                    transition: 1.5s;
                }
            }
        }
    }  
}