.nav{
    position: fixed;
    right: 0;
    top: 0;
    background-color: white;
    z-index: 2;
    width: 50%;
    height: 100vh;
    text-transform: uppercase;
    display: none;

    .nav__list{
        list-style-type: none;
        padding: 0;
        margin-top: 1em;
        margin-bottom: 27em;

        .nav__link{
            width: 100%;
            color: rgb(0, 0, 0);
            font-size: 1em;
            display: block;
            padding: .75em 2em;

            &:hover{
                color: whitesmoke;
            }
        }
    }

    .menu__img{
        margin-top: .5em;
        width: 2.5em;
        position: fixed;
        margin-left: 10em;
    }
}

.nav__brand{
    position: absolute;
    width: 42px;
    height: 36px;
    left: 120px;
    top: 46px;
}

.navActive{
    position: fixed;
    right: 0;
    top: 0;
    background-color: white;
    z-index: 2;
    width: 50%;
    height: 100vh;
    text-transform: uppercase;
    animation: navActive 1.5s;

    .nav__list{
        list-style-type: none;
        padding: 0;
        margin-top: 1em;
        margin-bottom: 27em;

        .nav__link{
            width: 50%;
            color: rgb(0, 0, 0);
            font-size: 1em;
            display: block;
            padding: .75em 2em;

            &:hover{
                color: whitesmoke;
            }
        }
    }

}

.nav__active,.nav__menu{
    cursor: pointer;
    margin-left: 50em;
}


.menu{
    z-index: 111111;
    top: 1em;
    left: auto;
    width: 30px;
    height: 0.2em;
    background: white;
    position: relative;
    transition: 0.5s;
    border-radius: 0.5em;
}

.menu::before{
    top: -12px;
    content: "";
    position: absolute;
    width: 20px;
    height: 0.2em;
    background-color: white;
    transition: 0.5s;
    border-radius: 0.5em;
}

.menu::after{
    top: 12px;
    content: "";
    position: absolute;
    width: 25px;
    height: 0.2em;
    background-color: white;
    transition: 0.5s;
    border-radius: 0.5em;
}

.nav__menu .menu::before{
    width: 30px;
    top: 0;
    background-color: black;
    rotate: (225deg);
}

.nav__menu .menu::after{
    width: 30px;
    top: 0;
    background-color: black;
    rotate: 135deg;
}

@keyframes navActive{
    from{
        clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%, 100% 0);
    }

    to{
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 9% 100%, 0% 50%);
    }
}


@media only screen and (min-width: 920px){

    .banner__title{
        font-size: 4em;
        margin-left: 1em;
        margin-bottom: .5em;
    }

    .banner__text{
        margin-left: 3em;
        margin-top: 0;
        font-size: 1.5em;
        margin-bottom: 0;
    }

    #nav__menu{
        display: none;
    }

    .nav__active,
    .nav__menu,
    .navActive{
        display: none;
    }

    .nav{
        margin-left: 550px;
        position: unset;
        display: block;
        width: 579px;
        height: 73px;

        background: none;
    
        .nav__list{
            display: flex;
            margin: 0;

            .nav__item{
                width: auto;
                margin: 0;
            }

            .nav__link{
                color: white;
                width: 80px;
                margin: 0;
                white-space: nowrap;

                &:hover{
                    color: rgb(185, 185, 185);
                    transition: 1.5s;
                }
            }
        }
    }  
}