.project{
    margin-top: 1em;
    margin-left: 1em;

    img{
        width: 100%;
        object-fit: cover;
        height: 11em;
        margin-bottom: 1em;
    }

    @media only screen and (min-width:920px){
        .project__content{  
            display: grid;
            grid-template-columns: repeat(2, auto);
            margin-bottom: 8em;

            .project__img{
                width: 25em;
                animation: project 20s forwards;
            }

            .project__body{
                text-align: right;
                width: 25em;
            }
        }
    }

    @keyframes project {
        from{
            clip-path: circle(50% at 50% 50%);
        }

        to{
            clip-path: circle(70.7% at 50% 50%);
        }
    }
}