@media only screen and (min-width:920px){
    .technology__content{  
        display: grid;
        grid-template-columns: repeat(2, auto);
        margin-bottom: 3em;

        .technology__body{
            margin-top: 2em;
            text-align: right;
            width: 25em;
        }
    }
}



