.form-container{
    background: linear-gradient(90deg, rgba(229,234,240,1) 0%, rgba(233,236,239,1) 100%);
}

.form-signin{
    width: 330px;
    padding: 15px;
    margin: auto;
}

.login-links a{
    text-decoration: none;
    font-size: 12pt;
}
