.project{
    margin-top: 5em;
    margin-left: 1em;

    img{
        width: 100%;
        object-fit: cover;
        height: 11em;
        margin-bottom: 1em;
    }

    @media only screen and (min-width:920px){
        .project__content{
            display: grid;
            grid-template-columns: repeat(2, auto);
        }
    }
}