.project{
    height: auto;
}

.card-title-project{
    font-size: 20px;
}

.card-text-project{
    font-size: 13px;
}

@media (max-width:1390){
    .project{
        background-color: black;
    }
}

@media (max-width:1250px){

    #section_project{
        height: 1000px;
    }

    .project-bg{
        width: 70vw;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 1px;
        grid-auto-columns: minmax(100px,auto);
    }

    #row-project{
        width: 80vw;
    }

    .project{
        width: 35vw;
    }

    .card-body{
        background-color: aquamarine;
    }
}

@media (max-width:768px){

    #section_project{
        height: 250vh;
    }

    .project-bg{
        width: 30vw;
        margin-left: 25vw;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 10px;
        grid-auto-columns: minmax(100px,auto);
    }

    .project{  
        width: 50vw;
        background-color: black;
    }

    .card-title-project{
        font-size: 16px;
    }
    
    .card-text-project{
        font-size: 11px;
    }

    .card-body{
        background-color: aqua;
    }

}