*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
}

body{
    overflow-x: hidden;
}

:root {
    --banner-height-size: 40vw;
    --banner-height-size-small: 35vw;
    --color-bg: #e9ecef;
}

.navbar-brand{
    padding-left: 2vw;
}

.navbar{
    font-size: 20px;
}

.navbar-collapse.collapse { 
    padding-left: 0; 
    padding-right: 0; 
    margin: 0; 
    width: 100% 
}

#Banner{
    position: relative;
}

.img{
    width: 100vw;     
    position: absolute;  
}

#container-1 .img{
    position: relative;
    display: block;
    height: var(--banner-height-size);
}

#row-container-section{
    margin-left: 15vw;
}
  
#texto_h1{
    font-family: 'Shippori Antique B1', sans-serif;
    margin-left: 10px;
    color: white;
    font-size: 3vw;    
    position: absolute;
    left: 5vw;
    top: 15vw;
}

.text_banner{
    font-family: 'Poppins', sans-serif;
    margin-left: 10px;
    display: block;
    font-size: 1.5vw;
    color: whitesmoke;
    position: absolute;
    left: 5vw;
    right: 5vw;
    top: 25vw;
}

.section1_container{
    background-color: #e9ecef;
    width: 100vw;
    height: 35vw;
}

#img1-section1,
#img2-section1,
#img3-section1{
    width: 10vw;
    height: 10vw;
}

.row-container1{
    height: 25vw;
}

.card-body_section1{
    height: 25vh;
    margin-left: 20px;
    margin-right: 20px;
    border-style: solid;
    border-color: red;
}

.card-body{
    height: 20vh;
    border-style: solid;
    border-color: red;
}

.card-text{
    font-size: 1.7vh;
}

.card-title{
    font-size: 1.2vw;
}

#row-container1{
    padding-left: 15vw;
    width: 100vw;
    padding-bottom: 5vw;
    height: var(--banner-height-size);
}

#col-container{
    width: 20vw;
    height: 20vw;
}

#img1,#img2,#img3{
    height: 45vw;
}

.project-bg,
#row-container{
    width: 100vw;
    height: var(--banner-height-size-small);
    background: rgb(229,234,240);
    background: linear-gradient(90deg, rgba(229,234,240,1) 0%, rgba(233,236,239,1) 100%);
}

.col-container{
    padding-top: 5vw;
    width: 25vw;
    height: 25vw;
}

.container-price{
    width: 100vw;
    height: var(--banner-height-size-small);
    background: rgb(2,62,125);
    background: radial-gradient(circle, rgba(2,62,125,1) 0%, rgba(0,24,69,1) 52%);
}

#row-price{
    margin-left: 20vw;
    padding-top: 5vw;
    width: 100vw;
    height: var(--banner-height-size-small);
}

#card-price1,#card-price2,#card-price3{
    height: 20vw;
    width: 20vw;
    
}

#card-container1,#card-container2,#card-container3{
    height: 25vw;
}

.about-container{
    height: var(--banner-height-size-small);
    text-align: center;
    margin-left: 30vw;
    margin-right: 30vw;
    margin-top: 15vw;
}

.footer-container{
    width: 100vw;
    height: 2vw;    
}

.img-1,.img-2,.img-3{
    padding-top: 10vw;
    padding-bottom: 1vw;
    padding-left: 13vw;
}

.text,
.name{
    text-align: center;
    margin: 5vw;
}

@media(max-width: 1250px){
    .card{
        width: 100%;
        background-color: blue;
    }
}
