.project{
    background-color: white;
    margin-left: 1em;

    .project__title{
        font-family: 'Oswald', sans-serif;
    }

    img{
        width: 100%;
        object-fit: cover;
        height: 11em;
        margin-bottom: 1em;
    }

    @media only screen and (min-width:920px){
        .project__content{  
            display: grid;
            grid-template-columns: repeat(2, auto);
            margin-bottom: 3em;

            .project__img{
                width: 25em;
                animation: project 1s ease-in;
            }

            .project__body{
                text-align: right;
                width: 25em;
            }
        }
    }

    @keyframes project {
        from{
            transform: translateX(300px);
        }

        to{
            transform: translateX(0);
        }
    }
}