.card-price{
    height: 50vh;
}

.body-price{
    height: 15vh;
    width: auto;
}

.card-title-price{
    font-size: 2rem;
}

@media (max-width: 1250px){

    #row-price{
        width: 85vw;
        margin-left: 10vw;
        background-color: burlywood;
    }

    #card-price1,
    #card-price2,
    #card-price3{
        margin-right: 7vw;
        background-color: blueviolet;
    }

    #price-body1,
    #price-body2,
    #price-body3{
        height: 50vh;
        width: 25vw;
        background-color: brown;
    }
    
    .container-price{
        height: 70vh;
    }

    .card-title-price{
        font-size: 2rem;
    }
}

@media (max-width: 768px){

    #section_price,#Section2{
        height: 1300px;
    }

    #row-price{
        height: auto;
    }

    .container-price{
        height: 75vw;
    }

    #row-price{
        display: grid;
        grid-template-columns: repeat(1fr,1);
        gap: 35vh;
    }

    #price-body1,
    #price-body2,
    #price-body3{
        margin-left: 10vw;
        width: 55vw;
        background-color: brown;
    }
}

@media (max-width: 600px){
    #price-body1,
    #price-body2,
    #price-body3{
        width: 60vw;
    }

    #row-price{
        gap: 40vh;
    }
}